body {
  background-color: #99a1a6;
}
h1 {
  background-color: #333138;
  letter-spacing: 12px;
  color: #ffffff;
  font-family: monospace;
}
nav {
  list-style-type: none;
  background-color: #333;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
}
p {
  font-family: fantasy;
}
